.time-row{
  margin-bottom: 5px;
  color: white;
  border-bottom: 1px solid white;
  float: left;
  width: 100%;
  padding: 20px 0;
}
.font {
  font-family: 'DS-Digital';
}


.align-right{
  text-align-last: right;
}

